/*****************************************
			   VARIABLES
*****************************************/

$mobile: "max-width: 568px";
$mobile-flipped: "max-height: 375px) and (max-width: 667px";
$short-mobile: "max-height: 500px";
$tablet: "min-width: 569px";

$black: #121212;
$blue: #308cbb;
$green: #51B87C;
$gold: #FFA100;
$red: #BA3D48;

$mobile-padding: 5px;
$tablet-padding: 20px;



/*****************************************
			 HTML ELEMENTS
*****************************************/


html,
body,
section {
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}

h1, h2, h3, h4, p {
	margin-top: 0;
}

input[type=text], textarea {
	padding: 4px 6px;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	border: 1px solid #999;
	border-radius: 2px;
	box-shadow: inset 0 1px 2px rgba(black, .3);
}

a:focus {
	outline: none;
}



/*****************************************
				HELPERS
*****************************************/

@mixin ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.ul-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.semantic-ul {
	@extend .ul-reset;

	display: flex;

	> li > a {
		display: block;
	}
}

.dark-bg {
	color: white;
	-webkit-font-smoothing: antialiased;
}

@mixin vertically-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.horizontally-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@media ($mobile) {
	.no-mobile {
		display: none !important;
	}
}

@media ($tablet) {
	.mobile-only {
		display: none !important;
	}
}



/*****************************************
				MODULES
*****************************************/

section {
	display: none;

	&.active {
		display: block;
	}
}

.switch {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 40px;
	box-shadow: inset 0 1px 3px rgba(black, .5);
	border-radius: 2px;
	font-size: 0;
	cursor: pointer;

	&:hover {
		background-color: rgba(black, .05);
	}

	&:before {
		content: "";
		position: absolute;
		top: -2px;
		left: -2%;
		display: inline-block;
		width: 50px;
		height: 44px;
		background-color: black;
		border-radius: 4px;
		transition: all .2s ease;
	}

	&:not(.active) {
		span:first-child {
			@extend .dark-bg;
		}
	}

	&.active {
		&:before {
			left: 50%;
		}

		span:last-child {
			@extend .dark-bg;
		}
	}

	span {
		display: inline-block;
		position: relative;
		width: 50%;
		color: rgba(black, .5);
		text-align: center;
		font-size: 24px;
		line-height: 44px;
		letter-spacing: 1px;
		-webkit-font-smoothing: antialiased;
		z-index: 2;
		transition: all .2s ease;
	}
}

.btn {
	@extend .dark-bg;

	display: inline-block;
	height: 44px;
	padding: 11px 20px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: $black;
	text-decoration: none;
	transition: all .2s ease;

	&:hover {
		background-color: adjust-color($black, $lightness: -7);
	}
}

.btn--green {
	@extend .btn;

	background-color: $green;

	&:hover {
		background-color: adjust-color($green, $saturation: 6, $lightness: -8);
	}
}

.close {
	@include ir;

	display: block;
	width: 44px;
	height: 44px;
	background: url(../img/close.png) no-repeat center center;
	opacity: .9;
	transition: opacity .1s ease;

	&:hover {
		opacity: 1;
	}
}

.form-control {
	margin-bottom: 46px;

	label,
	.form-control__label {
		display: block;
		margin: 0;
		padding-bottom: 3px;
	}

		.form-control__label-hint {
			float: right;
			font-size: 15px;
			line-height: 25px;
			opacity: .3;
		}

		.error {
			font-size: 15px;
			font-weight: 600;
			color: $red;
			opacity: 1;
		}

	input[type=text] {
		width: 100%;
		height: 44px;
	}

	textarea {
		width: 100%;
		height: 100px;
	}

	.checkbox-list {
		input[type=checkbox] {
			display: none;
		}

		input[type=checkbox] + label {
			@extend .btn;

			display: block;
			padding-left: 0;
			padding-right: 0;
			background-color: #ccc;
			text-align: center;

			&:hover {
				background-color: #bbb;
			}
		}

		input[type=checkbox]:checked + label {
			background-color: $blue;
		}
	}
}

.form-control--setting {
	@extend .form-control;

	display: flex;
	justify-content: space-between;

	label, .form-control__label {
		line-height: 44px;
	}
}



/*****************************************
			  DOM STYLING
*****************************************/

section.splash {
	position: relative;
	padding: $mobile-padding;
}

	.splash__title {
		$larger-splash-title: "min-width: 500px";

		@include ir;

		margin-bottom: 80px;
		padding-bottom: 38%;
		width: 100%;
		height: 0;
		background: url(../img/hurleyisms-sm.png) no-repeat;
		background-size: contain;

		@media ($short-mobile) {
			margin-bottom: 50px;
		}

		@media ($larger-splash-title) {
			margin: 0 auto;
			max-width: 600px;
			width: auto;
			padding-bottom: 10.77%;
			background-image: url(../img/hurleyisms.png);
		}

		@media ($mobile-flipped) {
			margin-bottom: 0;
			padding-bottom: 10.77%;
			background-image: url(../img/hurleyisms.png);
		}

		@media ($tablet) {
			margin: 15vh auto 7vh;
		}
	}

	.splash__start-for {
		margin-bottom: 28px;
		font-size: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
		opacity: .5;
		text-align: center;
	}

	.mode-selector {
		@extend .semantic-ul;

		justify-content: center;

		> li {
			flex-shrink: 1;

			> a {
				margin: 5px;
				text-decoration: none;

				&:hover > img {
					outline: 2px solid $blue;
					-webkit-filter: brightness(1.1);
				}

				> img {
					margin-bottom: 5px;
					width: 100%;
					transition: .1s ease all;
				}

				> p {
					color: black;
					text-align: center;
					text-transform: uppercase;
					font-size: 18px;
				}
			}
		}
	}

	.splash__footer {
		display: flex;
		justify-content: space-between;
		position: absolute;
		bottom: 2*$mobile-padding;
		right: 2*$mobile-padding;
		left: 2*$mobile-padding;

		.btn {
			position: relative;
			top: -2px;
		}

		@media ($tablet) {
			bottom: $tablet-padding;
			right: $tablet-padding;
			left: $tablet-padding;
		}
	}

/*section.submit {}*/

	.line-added {
		@extend .horizontally-center;

		display: fixed;
		top: 5px;
		width: 120px;
		height: 40px;
		line-height: 42px;
		text-align: center;
		color: white;
		background: $blue;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(black, .5);
		opacity: 0;
		z-index: 2;

		&.fade-in {
			animation: fade-in-out 4s;
		}

		@keyframes fade-in-out {
			0%, 100% {
				top: -100%;
				opacity: 0;
			}
			20%, 80% {
				top: 5px;
				opacity: 1;
			}
		}
	}

	.submit__header {
		position: relative;
		padding: $mobile-padding;
		height: 54px;
		border-bottom: 2px solid rgba(black, .1);

		.close {
			position: relative;
			left: -1*$mobile-padding;
			float: left;
		}

		> h1 {
			@extend .center;

			position: absolute;
			padding-top: 3px;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: .3px;
		}

		> .btn {
			float: right;
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	.submit__container {
		margin: 0 auto;
		max-width: 400px;
		padding: 15px;

		.checkbox-list {
			@extend .semantic-ul;

			margin: 0 -4px;

			> li {
				margin: 0 4px;
				flex-basis: 33%;
			}
		}

		> .btn--green {
			display: block;
			text-align: center;
		}
	}

section.lines {
	position: relative;
}

	.lines__header {
		display: flex;
		justify-content: flex-end;

		@media ($tablet) {
			justify-content: space-between;
		}
	}

		.lines__header__title > p {
			margin: 0;
			text-transform: uppercase;
			font-size: 14px;
			text-align: center;
			opacity: .5;
		}

		.lines__header__dummy {
			width: 40px;
			height: 40px;
		}

	#lines {
		margin: -15px auto 86px;
		max-width: 800px;
		padding: 0 15px;

		@media ($tablet) {
			margin-top: 0;
			margin-bottom: 0;
			padding: 15px;
		}
	}

		.line {
			margin-bottom: 20px;

			@media ($tablet) {
				padding: 13px 20px 10px;
				border-radius: 2px;
				box-shadow: 0 1px 4px rgba(black, .4);
			}
		}

			.line__text {
				margin-bottom: 15px;
				font-size: 35px;
				font-weight: 300;
				line-height: 1.2;
			}

			.line__footer {
				display: flex;
				justify-content: space-between;
			}

			.line__byline {
				align-self: center;
				margin: 0;
				font-size: 20px;
				opacity: .4;
			}

			.line__vote-buttons .btn {
				@include ir;

				width: 44px;
				height: 44px;
				padding: 6px;
				background-color: white;
				text-align: center;
				background-repeat: no-repeat;
				background-position: center center;
				border: 2px solid rgba(black, .1);

				&:hover {
					background-color: rgba(black, .05);
				}

				&.thumbs-up {background-image: url(../img/thumbs-up.png);}
				&.thumbs-down {background-image: url(../img/thumbs-down.png);}

				&.active {
					border: none;

					&.thumbs-up {
						background-image: url(../img/thumbs-up-white.png);
						background-color: $green;
					}

					&.thumbs-down {
						background-image: url(../img/thumbs-down-white.png);
						background-color: $red;
					}
				}
			}

	.lines__footer {
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 10px;
		left: 0;
		right: 0;
		padding: 0 15px;
		height: 76px;
		background-color: rgba(white, .98);
	}

		.speed-slider {
			align-self: center;
			width: 100px;

			> p {
				margin-bottom: 0;
				font-size: 14px;
				letter-spacing: .4px;
				text-transform: uppercase;
				opacity: .4;
			}

			input[type=range] {
				width: 100%;
			}
		}

		.pause {
			@include ir;

			display: block;
			position: relative;
			width: 71px;
			height: 71px;
			border-radius: 50%;
			background: black url(../img/pause.png) no-repeat center center;

			&.is-paused {
				background-image: url(../img/play.png);
				background-position-x: 28px;
			}

		}

		.next {
			display: block;
			position: relative;
			width: 100px;
			height: 100%;

			> img {
				@include vertically-center;

				right: 0;
			}
		}

		@media ($tablet) {
			.lines__footer {
				height: 85px;
			}
			.speed-slider {
				width: 140px;
			}

			.prev,
			.next {
				display: block;
				position: relative;
				flex-grow: 1;
				width: auto;
				height: 100%;

				> img {
					@include vertically-center;
				}
			}

			.prev {
				pointer-events: none;

				> img {
					right: 15px;
					visibility: hidden;
				}
			}

			.next > img {
				left: 15px;
				right: auto;
			}

			.pause {
				width: 80px;
				height: 80px;

				&.is-paused {
					background-position-x: 32px;
				}
			}

			.speed-slider-dummy {
				width: 140px;
			}
		}

	#progress-bar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 10px;
		background-color: #ddd;
	}

		#progress-bar__fill {
			height: 100%;
			width: 0%;
			background-color: $gold;
		}



/*****************************************
			   ADMIN PAGE
*****************************************/

#admin-table {
	border-collapse: collapse;

	th {
		text-align: left;
	}

	th,
	td {
		border: 1px solid #ddd;
	}

	.btn {
		padding: 5px 10px;
		height: 35px;
		letter-spacing: 0;
		opacity: .8;

		&:hover {
			opacity: 1;
		}

		&:first-child {
			background-color: $blue;

			&.active {
				background-color: $green;
				opacity: 1;
			}
		}

		&:last-child {
			background-color: $red;
		}
	}

	label {
		display: inline-block;
		height: 100%;
		width: 100%;
	}
}