/*****************************************
			   VARIABLES
*****************************************/
/*****************************************
			 HTML ELEMENTS
*****************************************/
body {
  font-family: "Roboto", sans-serif;
  font-size: 17px; }

h1, h2, h3, h4, p {
  margin-top: 0; }

input[type=text], textarea {
  padding: 4px 6px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  border: 1px solid #999;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); }

a:focus {
  outline: none; }

/*****************************************
				HELPERS
*****************************************/
.ul-reset, .semantic-ul, .mode-selector, .submit__container .checkbox-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.semantic-ul, .mode-selector, .submit__container .checkbox-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .semantic-ul > li > a, .mode-selector > li > a, .submit__container .checkbox-list > li > a {
    display: block; }

.dark-bg, .switch:not(.active) span:first-child, .switch.active span:last-child, .btn, .btn--green, .form-control .checkbox-list input[type=checkbox] + label, .form-control--setting .checkbox-list input[type=checkbox] + label {
  color: white;
  -webkit-font-smoothing: antialiased; }

.horizontally-center, .line-added {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.center, .submit__header > h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }

@media (max-width: 568px) {
  .no-mobile {
    display: none !important; } }
@media (min-width: 569px) {
  .mobile-only {
    display: none !important; } }
/*****************************************
				MODULES
*****************************************/
section {
  display: none; }
  section.active {
    display: block; }

.switch {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 40px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-size: 0;
  cursor: pointer; }
  .switch:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .switch:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2%;
    display: inline-block;
    width: 50px;
    height: 44px;
    background-color: black;
    border-radius: 4px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
  .switch.active:before {
    left: 50%; }
  .switch span {
    display: inline-block;
    position: relative;
    width: 50%;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    z-index: 2;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }

.btn, .btn--green, .form-control .checkbox-list input[type=checkbox] + label, .form-control--setting .checkbox-list input[type=checkbox] + label {
  display: inline-block;
  height: 44px;
  padding: 11px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #121212;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .btn:hover, .btn--green:hover, .form-control .checkbox-list input[type=checkbox] + label:hover, .form-control--setting .checkbox-list input[type=checkbox] + label:hover {
    background-color: black; }

.btn--green {
  background-color: #51B87C; }
  .btn--green:hover {
    background-color: #3aa667; }

.close {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 44px;
  height: 44px;
  background: url(../img/close.png) no-repeat center center;
  opacity: .9;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease; }
  .close:hover {
    opacity: 1; }

.form-control, .form-control--setting {
  margin-bottom: 46px; }
  .form-control label, .form-control--setting label,
  .form-control .form-control__label,
  .form-control--setting .form-control__label {
    display: block;
    margin: 0;
    padding-bottom: 3px; }
  .form-control .error, .form-control--setting .error {
    font-size: 15px;
    font-weight: 600;
    color: #BA3D48; }
  .form-control .form-control__label-hint, .form-control--setting .form-control__label-hint {
    float: right;
    font-size: 15px;
    line-height: 25px;
    opacity: .3; }
  .form-control input[type=text], .form-control--setting input[type=text] {
    width: 100%;
    height: 44px; }
  .form-control textarea, .form-control--setting textarea {
    width: 100%;
    height: 100px; }
  .form-control .checkbox-list input[type=checkbox], .form-control--setting .checkbox-list input[type=checkbox] {
    display: none; }
  .form-control .checkbox-list input[type=checkbox] + label, .form-control--setting .checkbox-list input[type=checkbox] + label {
    display: block;
    padding-left: 0;
    padding-right: 0;
    background-color: #ccc;
    text-align: center; }
    .form-control .checkbox-list input[type=checkbox] + label:hover, .form-control--setting .checkbox-list input[type=checkbox] + label:hover {
      background-color: #bbb; }
  .form-control .checkbox-list input[type=checkbox]:checked + label, .form-control--setting .checkbox-list input[type=checkbox]:checked + label {
    background-color: #308cbb; }

.form-control--setting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form-control--setting label, .form-control--setting .form-control__label {
    line-height: 44px; }

/*****************************************
			  DOM STYLING
*****************************************/
section.splash {
  position: relative;
  padding: 5px;
  height: 100vh; }

.splash__title {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 80px;
  padding-bottom: 38%;
  width: 100%;
  height: 0;
  background: url(../img/hurleyisms-sm.png) no-repeat;
  background-size: contain; }
  @media (max-height: 500px) {
    .splash__title {
      margin-bottom: 50px; } }
  @media (min-width: 500px) {
    .splash__title {
      margin: 0 auto;
      max-width: 600px;
      width: auto;
      padding-bottom: 10.77%;
      background-image: url(../img/hurleyisms.png); } }
  @media (max-height: 375px) and (max-width: 667px) {
    .splash__title {
      margin-bottom: 0;
      padding-bottom: 10.77%;
      background-image: url(../img/hurleyisms.png); } }
  @media (min-width: 569px) {
    .splash__title {
      margin: 15vh auto 7vh; } }

.splash__start-for {
  margin-bottom: 28px;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: .5;
  text-align: center; }

.mode-selector {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .mode-selector > li {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1; }
    .mode-selector > li > a {
      margin: 5px;
      text-decoration: none; }
      .mode-selector > li > a:hover > img {
        outline: 2px solid #308cbb;
        -webkit-filter: brightness(1.1); }
      .mode-selector > li > a > img {
        margin-bottom: 5px;
        width: 100%;
        -webkit-transition: .1s ease all;
        transition: .1s ease all; }
      .mode-selector > li > a > p {
        color: black;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px; }

.splash__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px; }
  .splash__footer .btn, .splash__footer .btn--green, .splash__footer .form-control .checkbox-list input[type=checkbox] + label, .form-control .checkbox-list .splash__footer input[type=checkbox] + label, .splash__footer .form-control--setting .checkbox-list input[type=checkbox] + label, .form-control--setting .checkbox-list .splash__footer input[type=checkbox] + label {
    position: relative;
    top: -2px; }
  @media (min-width: 569px) {
    .splash__footer {
      bottom: 20px;
      right: 20px;
      left: 20px; } }

/*section.submit {}*/
.line-added {
  display: fixed;
  top: 5px;
  width: 120px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  color: white;
  background: #308cbb;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 2; }
  .line-added.fade-in {
    -webkit-animation: fade-in-out 4s;
            animation: fade-in-out 4s; }
@-webkit-keyframes fade-in-out {
  0%, 100% {
    top: -100%;
    opacity: 0; }
  20%, 80% {
    top: 5px;
    opacity: 1; } }
@keyframes fade-in-out {
  0%, 100% {
    top: -100%;
    opacity: 0; }
  20%, 80% {
    top: 5px;
    opacity: 1; } }
.submit__header {
  position: relative;
  padding: 5px;
  height: 54px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
  .submit__header .close {
    position: relative;
    left: -5px;
    float: left; }
  .submit__header > h1 {
    position: absolute;
    padding-top: 3px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .3px; }
  .submit__header > .btn, .submit__header > .btn--green, .form-control .checkbox-list .submit__header > input[type=checkbox] + label, .form-control--setting .checkbox-list .submit__header > input[type=checkbox] + label {
    float: right;
    padding-left: 5px;
    padding-right: 5px; }

.submit__container {
  margin: 0 auto;
  max-width: 400px;
  padding: 15px; }
  .submit__container .checkbox-list {
    margin: 0 -4px; }
    .submit__container .checkbox-list > li {
      margin: 0 4px;
      -webkit-flex-basis: 33%;
          -ms-flex-preferred-size: 33%;
              flex-basis: 33%; }
  .submit__container > .btn--green {
    display: block;
    text-align: center; }

section.lines {
  position: relative;
  margin-bottom: 90px;
  height: 100vh; }

.lines__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (min-width: 569px) {
    .lines__header {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.lines__header__title > p {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  opacity: .5; }

.lines__header__dummy {
  width: 40px;
  height: 40px; }

#lines {
  margin: -15px auto 0;
  max-width: 800px;
  padding: 0 15px; }
  @media (min-width: 569px) {
    #lines {
      margin-top: 0;
      padding: 15px; } }

.line {
  margin-bottom: 20px; }
  @media (min-width: 569px) {
    .line {
      padding: 13px 20px 10px;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); } }

.line__text {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.2; }

.line__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.line__byline {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin: 0;
  font-size: 20px;
  opacity: .4; }

.line__vote-buttons .btn, .line__vote-buttons .btn--green, .line__vote-buttons .form-control .checkbox-list input[type=checkbox] + label, .form-control .checkbox-list .line__vote-buttons input[type=checkbox] + label, .line__vote-buttons .form-control--setting .checkbox-list input[type=checkbox] + label, .form-control--setting .checkbox-list .line__vote-buttons input[type=checkbox] + label {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 44px;
  height: 44px;
  padding: 6px;
  background-color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid rgba(0, 0, 0, 0.1); }
  .line__vote-buttons .btn:hover, .line__vote-buttons .btn--green:hover, .line__vote-buttons .form-control .checkbox-list input[type=checkbox] + label:hover, .form-control .checkbox-list .line__vote-buttons input[type=checkbox] + label:hover, .line__vote-buttons .form-control--setting .checkbox-list input[type=checkbox] + label:hover, .form-control--setting .checkbox-list .line__vote-buttons input[type=checkbox] + label:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .line__vote-buttons .btn.thumbs-up, .line__vote-buttons .thumbs-up.btn--green, .line__vote-buttons .form-control .checkbox-list input[type=checkbox] + label.thumbs-up, .form-control .checkbox-list .line__vote-buttons input[type=checkbox] + label.thumbs-up, .line__vote-buttons .form-control--setting .checkbox-list input[type=checkbox] + label.thumbs-up, .form-control--setting .checkbox-list .line__vote-buttons input[type=checkbox] + label.thumbs-up {
    background-image: url(../img/thumbs-up.png); }
  .line__vote-buttons .btn.thumbs-down, .line__vote-buttons .thumbs-down.btn--green, .line__vote-buttons .form-control .checkbox-list input[type=checkbox] + label.thumbs-down, .form-control .checkbox-list .line__vote-buttons input[type=checkbox] + label.thumbs-down, .line__vote-buttons .form-control--setting .checkbox-list input[type=checkbox] + label.thumbs-down, .form-control--setting .checkbox-list .line__vote-buttons input[type=checkbox] + label.thumbs-down {
    background-image: url(../img/thumbs-down.png); }
  .line__vote-buttons .btn.active, .line__vote-buttons .active.btn--green, .line__vote-buttons .form-control .checkbox-list input[type=checkbox] + label.active, .form-control .checkbox-list .line__vote-buttons input[type=checkbox] + label.active, .line__vote-buttons .form-control--setting .checkbox-list input[type=checkbox] + label.active, .form-control--setting .checkbox-list .line__vote-buttons input[type=checkbox] + label.active {
    border: none; }
    .line__vote-buttons .btn.active.thumbs-up, .line__vote-buttons .active.thumbs-up.btn--green, .line__vote-buttons .form-control .checkbox-list input[type=checkbox] + label.active.thumbs-up, .form-control .checkbox-list .line__vote-buttons input[type=checkbox] + label.active.thumbs-up, .line__vote-buttons .form-control--setting .checkbox-list input[type=checkbox] + label.active.thumbs-up, .form-control--setting .checkbox-list .line__vote-buttons input[type=checkbox] + label.active.thumbs-up {
      background-image: url(../img/thumbs-up-white.png);
      background-color: #51B87C; }
    .line__vote-buttons .btn.active.thumbs-down, .line__vote-buttons .active.thumbs-down.btn--green, .line__vote-buttons .form-control .checkbox-list input[type=checkbox] + label.active.thumbs-down, .form-control .checkbox-list .line__vote-buttons input[type=checkbox] + label.active.thumbs-down, .line__vote-buttons .form-control--setting .checkbox-list input[type=checkbox] + label.active.thumbs-down, .form-control--setting .checkbox-list .line__vote-buttons input[type=checkbox] + label.active.thumbs-down {
      background-image: url(../img/thumbs-down-white.png);
      background-color: #BA3D48; }

.lines__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0 15px;
  height: 76px;
  background-color: rgba(255, 255, 255, 0.98); }

.speed-slider {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 100px; }
  .speed-slider > p {
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: .4px;
    text-transform: uppercase;
    opacity: .4; }
  .speed-slider input[type=range] {
    width: 100%; }

.pause {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  position: relative;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background: black url(../img/pause.png) no-repeat center center; }
  .pause.is-paused {
    background-image: url(../img/play.png);
    background-position-x: 28px; }

.next {
  display: block;
  position: relative;
  width: 100px;
  height: 100%; }
  .next > img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0; }

@media (min-width: 569px) {
  .lines__footer {
    height: 85px; }

  .speed-slider {
    width: 140px; }

  .prev,
  .next {
    display: block;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto;
    height: 100%; }
    .prev > img,
    .next > img {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

  .prev > img {
    right: 15px; }

  .next > img {
    left: 15px;
    right: auto; }

  .pause {
    width: 80px;
    height: 80px; }
    .pause.is-paused {
      background-position-x: 32px; }

  .speed-slider-dummy {
    width: 140px; } }
#progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1); }

#progress-bar__fill {
  height: 100%;
  width: 0%;
  background-color: #FFA100; }
