node_modules/

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

hurleyisms.tsv
hurleyisms.min.js
pro.min.js
index.min.js
myaccount.min.js
*.codekit
