/*****************************************
				IMPORTS
*****************************************/

@import 'normalize';
@import 'reset';



/*****************************************
			   VARIABLES
*****************************************/

$mobile: "max-width: 568px";
$mobile-flipped: "max-height: 375px) and (max-width: 667px";
$short-mobile: "max-height: 500px";
$tablet: "min-width: 569px";
$desktop: "min-width: 769px";
$desktop-lg: "min-width: 1024px";
$desktop-xl: "min-width: 1200px";

$black: #121212;
$blue: #308cbb;
$green: #51B87C;
$gold: #FFA100;
$red: #EB3B1C;

$mobile-padding: 5px;
$tablet-padding: 20px;



/*****************************************
			 HTML ELEMENTS
*****************************************/

html,
body,
section {
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}

h1, h2, h3, h4, p {
	margin-top: 0;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
	padding: 4px 6px;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	border: 1px solid #999;
	border-radius: 2px;
	box-shadow: inset 0 1px 3px rgba(black, .3);

	&[disabled] {
		pointer-events: none;
		opacity: .5;
	}
}

a {
	color: $blue;
}



/*****************************************
				HELPERS
*****************************************/

// TODO remove in final code
body:not(.is-logged-in) .if-logged-in,
body.is-logged-in .if-logged-out,
body:not(.is-admin) .if-admin,
body.is-monthly .if-lifetime,
body.is-lifetime .if-monthly,
body:not(.has-payment-error) .if-payment-error,
body:not(.is-unverified-email) .if-unverified-email {
	display: none !important;
}

.hidden {
	display: none !important;
}

@mixin ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.content-width {
	margin: 0 auto;
	max-width: 1440px;
}

.content-width--380 {
	margin: 0 auto;
	max-width: 380px;
}

.content-width--640 {
	margin: 0 auto;
	max-width: 640px;
}

.ul-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.semantic-ul {
	@extend .ul-reset;

	display: flex;

	> li > a {
		display: block;
	}
}

.dark-bg {
	color: white;
	-webkit-font-smoothing: antialiased;
}

@mixin vertically-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.horizontally-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin horizontally-and-vertically-center {
	@include vertically-center;
	@extend .horizontally-center;

	transform: translate(-50%, -50%);
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.media {
    display: flex;
    align-items: flex-start;

    > :first-child {
        margin-right: 10px;
    }

    > :nth-child(2) {
    	flex: 1;
    }
}

@media ($mobile) {
	.no-mobile {
		display: none !important;
	}
}

@media ($tablet) {
	.mobile-only {
		display: none !important;
	}
}

.no-underline {
    &,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.unstyled-link {
    @extend .no-underline;
    color: black;
}



/*****************************************
				MODULES
*****************************************/

section {
	display: none;

	&.active {
		display: block;
	}
}

.switch {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 40px;
	box-shadow: inset 0 1px 3px rgba(black, .5);
	border-radius: 2px;
	font-size: 0;
	cursor: pointer;

	&:hover {
		background-color: rgba(black, .05);
	}

	&:before {
		content: "";
		position: absolute;
		top: -2px;
		left: -2%;
		display: inline-block;
		width: 50px;
		height: 44px;
		background-color: black;
		border-radius: 4px;
		transition: all .2s ease;
	}

	&:not(.active) {
		span:first-child {
			@extend .dark-bg;
		}
	}

	&.active {
		&:before {
			left: 50%;
		}

		span:last-child {
			@extend .dark-bg;
		}
	}

	&.disabled {
		opacity: .5;
		pointer-events: none;
		cursor: default;
	}

	span {
		display: inline-block;
		position: relative;
		width: 50%;
		color: rgba(black, .5);
		text-align: center;
		font-size: 24px;
		line-height: 44px;
		letter-spacing: 1px;
		-webkit-font-smoothing: antialiased;
		z-index: 2;
		transition: all .2s ease;
	}
}

.btn {
	@extend .dark-bg;

	display: inline-block;
	height: 44px;
	border: none;
	padding: 9px 20px 11px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: .04em;
	background-color: $black;
	text-decoration: none;
	transition: all .2s ease;

	&:hover {
		background-color: adjust-color($black, $lightness: -7);
	}

	&[disabled=disabled],
	&.disabled {
		pointer-events: none;
		cursor: default;
		opacity: .5;

		&:hover {
			background-color: initial !important;
		}
	}
}

	.btn--green {
		@extend .btn;

		background-color: $green;

		&:hover {
			background-color: adjust-color($green, $saturation: 6, $lightness: -8);
		}
	}

	.btn--blue {
		@extend .btn;

		background-color: $blue;

		&:hover {
			background-color: adjust-color($blue, $lightness: -6);
		}
	}

	.btn--red {
		@extend .btn;

		background-color: $red;

		&:hover {
			background-color: adjust-color($red, $lightness: -6);
		}
	}

	.btn--white {
		@extend .btn;

		color: black;
		background-color: white;
		-webkit-font-smoothing: antialiased;

		&:hover {
			background-color: adjust-color(white, $lightness: -10);
		}
	}

	.btn--shadow {
		box-shadow: 0 1px 3px rgba(black, .5);
	}

	.btn--sm {
		height: 34px;
		padding: 7px 14px;
		font-size: 16px;
	}

	@mixin btn--lg {
		height: 54px;
		padding: 14px 20px 16px;
	}

	.btn--sm-to-lg {
		@media ($tablet) {
			@include btn--lg;
		}
	}

body.has-modal-open {
	overflow: hidden;
}

.modal {
	visibility: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(black, .8);
	z-index: 100;
	overflow: auto;

	&.is-visible {visibility: visible;}
}

	.modal__window {
		margin: 0 auto;
		max-width: 560px;
		background-color: white;
		box-shadow: 0	2px	4px		rgba(black, .5),
					0	10	24px	rgba(black, .5);

		@media ($desktop) {
			margin-top: 100px;
			transform: translateY(-50px);
			opacity: 0;
			transition: all .15s ease;

			.modal.is-visible & {
				transform: translateY(0);
				opacity: 1;
				transition: all .3s ease;
			}
		}
	}

		.modal__header {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 15px 20px;

			> h1 {
				margin: 0;
				font-size: 32px;
				font-weight: 300;
			}

			a.modal__close {
				@include ir;

				width: 20px;
				height: 30px;
				background: transparent url("../images/close.png") center center no-repeat;
				opacity: .8;

				&:hover {
					opacity: 1;
				}
			}
		}

		.modal__body {
			padding: 10px 20px;
		}

		.modal__footer {
			border-top: 1px solid #CCC;
			padding: 10px 20px;

			.btn {
				margin-right: 20px;
			}

			.modal__cancel {
				color: $blue;
			}
		}

.close {
	@include ir;

	display: block;
	width: 44px;
	height: 44px;
	background: url(../images/close.png) no-repeat center center;
	opacity: .9;
	transition: opacity .1s ease;

	&:hover {
		opacity: 1;
	}
}

.form-control {
	position: relative;
	margin-bottom: 46px;

	label,
	.form-control__label {
		display: block;
		margin: 0;
		padding-bottom: 3px;
	}

		.form-control__label-hint {
			float: right;
			font-size: 15px;
			line-height: 25px;
			opacity: .3;
		}

		.error {
			font-size: 15px;
			font-weight: 600;
			color: $red;
			opacity: 1;
		}

	input[type=text],
	input[type=email],
	input[type=password],
	textarea {
		width: 100%;
		height: 44px;
	}

	textarea {
		height: 100px;
	}

	.checkbox-list {
		input[type=checkbox] {
			display: none;
		}

		input[type=checkbox] + label {
			@extend .btn;

			display: block;
			padding-left: 0;
			padding-right: 0;
			background-color: #ccc;
			text-align: center;

			&:hover {
				background-color: #bbb;
			}
		}

		input[type=checkbox]:checked + label {
			background-color: $blue;
		}

		input[type=checkbox]:disabled + label {
			pointer-events: none;
			cursor: default;

			&:hover {
				background-color: initial;
			}
		}
	}
}

.form-control--setting {
	@extend .form-control;

	display: flex;
	justify-content: space-between;

	label, .form-control__label {
		line-height: 44px;
	}
}

.input-group {
	display: flex;

	input:not(:last-child) {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	input ~ .input-group__addon {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

	.input-group__addon {
		flex-shrink: 0;
	}

.toast {
    @extend .dark-bg;

    position: fixed;
    bottom: 100%;
    left: 20px;
    right: 20px;
    margin: 20px auto;
    border-radius: 3px;
    padding: 14px;
    max-width: 350px;
    background-color: $green;
    box-shadow: 0 1px 3px rgba(black, .4);
    transition: all 0.2s ease;
    z-index: 10;
    backface-visibility: hidden;

    &.appear {
        transform: translateY(calc(100% + 40px));
    }
}

	.toast--red {
		background-color: $red;
	}

.feature > .content-width {
	display: flex;
	flex-direction: column;

	@media ($desktop) {
		flex-direction: row;
	}
}

	.feature__illustration {
		margin: 30px 0;

		@media ($desktop) {
			flex: 0 0 60%;

			.feature--reverse & {
				order: 1;
			}
		}
	}

	.feature__text {
		margin: 30px auto;
		max-width: 400px;
		padding: 0 10px;

		@media ($desktop) {
			flex: 0 0 40%;
			align-self: center;
		}
	}

.h2--underlined {
	position: relative;
	margin-bottom: 19px;
	padding-bottom: 13px;
	font-family: "Montserrat";
	font-size: 26px;
	letter-spacing: .34px;
	line-height: 1.2;
	text-transform: uppercase;

	@media ($desktop) {
		font-size: 32px;
		letter-spacing: .4px;
		line-height: 1.2;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		right: 0;
		width: 100%;
		height: 1px;
		background-color: #c4c4c4;
	}
}



/*****************************************
		  MARKETING PAGE STYLING
*****************************************/

.marketing-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: rgba(white, .9);
	box-shadow: 0 2px 4px rgba(black, .3);
	z-index: 10;

	@media ($tablet) {
		justify-content: center;
		position: fixed;
		width: 100%;
	}

	> img {
		align-self: center;

		@media ($tablet) {
			margin: 0 auto;
			padding-left: 80px;

			//TODO change logged in styling
			body.is-logged-in & {
				padding-left: 24px;
			}
		}
	}
}


.splash {
	position: relative;
}

	.splash__media-wrapper {
		@extend .content-width;

		display: flex;
		justify-content: flex-end;
		overflow: hidden;

		> img {
			align-self: center;
			width: 75%;
			min-width: 300px;
			height: auto;

			@media ($tablet) {
				width: 55%;
				max-width: 655px;
			}
		}
	}

	.splash__content-wrapper {
		width: 100%;
		padding: 10px 10px 20px;

		@media ($tablet) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			padding: 0 50% 0 5%;
		}

		@media ($desktop) {
			padding: 0 100px;
			max-width: 1440px;
		}

		> h1 {
			text-transform: uppercase;
			font-size: 30px;
			line-height: 1;

			@media ($desktop) {
				width: 50%;
				max-width: 400px;
				font-size: 36px;
				line-height: 1.1;
			}

			@media ($desktop-lg) {
				font-size: 42px;
			}

			@media ($desktop-xl) {
				font-size: 48px;
			}
		}
	}

// .feature {}

	.feature__text {
		@media ($desktop) {
			margin-top: 0;
		}

		> h2 {
			@extend .h2--underlined;
		}

		> p {
			font-size: 14px;
			line-height: 1.6;

			@media ($desktop) {
				font-size: 16px;
				line-height: 1.4;
			}
		}
	}

	#feature-1 {
		background-color: #F7F7F7;
		overflow: hidden;

		.feature__illustration {
			position: relative;
			height: 300px;

			@media ($desktop) {
				height: 500px;
			}
		}
	}

		.card {
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			width: 70%;
			max-width: 270px;
			transform: translate(200%, 0%) rotate(-400deg);
			transition: all .5s ease-out;
			backface-visibility: hidden;
			opacity: 0;

			&.flipped {
				opacity: 1;
			}

			@media ($desktop) {
				max-width: 356px;
			}
		}

		#card-1 {
			transition-delay: 0.0s;

			&.flipped {
				transform: translate(-50%, 0%) rotate(-2deg);
			}
		}

		#card-2 {
			transform: translate(200%, 0%) rotate(-200deg);
			transition-delay: 0.25s;

			&.flipped {
				transform: translate(-50%, 86%) rotate(3deg);
			}
		}

		#card-3 {
			transform: translate(200%, 0%) rotate(-300deg);
			transition-delay: 0.5s;

			&.flipped {
				transform: translate(-50%, 128%) rotate(-6deg);
			}
		}

	#feature-2 {
		.feature__illustration {
			position: relative;
			height: 200px;
			overflow: hidden;

			@media ($tablet) {
				height: 280px;
			}

			@media ($desktop) {
				height: 660px;
			}

			.devices-wrapper {
				position: absolute;
				top: 50%;
				left: 48%;
				width: 600px;
				height: 300px;
				transform: translate(-50%, -50%) scale(.5);

				@media ($tablet) {
					transform: translate(-50%, -50%) scale(.8);
				}

				@media ($desktop-lg) {
					transform: translate(-50%, -50%) scale(1.0);
				}

				> img {
					position: absolute;
					top: 0;
					left: 0;
					transform: translateY(30px);
					opacity: 0;
					transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);

					&.slide-in {
						transform: translateY(0px);
						opacity: 1;
					}

					&:nth-child(1) {
						top: 0;
						left: 0;
					}

					&:nth-child(2) {
						top: 49px;
						left: 254px;
						z-index: -1;
						transition-delay: 0.4s;
					}

					&:nth-child(3) {
						top: 92px;
						left: 512px;
						transition-delay: 0.1s;
					}
				}
			}
		}
	}

	#feature-3 {
		background-color: #F7F7F7;

		.feature__illustration {
			margin-top: 0;
			text-align: right;
			overflow: hidden;

			@media ($desktop) {
				margin-bottom: 0;
			}

			> img {
				max-width: 100%;
				max-height: 400px;

				@media ($desktop) {
					max-height: none;
				}
			}
		}
	}

.gallery {
	position: relative;
	background-color: black;
	overflow: hidden;

	.content-width {
		position: relative;
	}
}

	.gallery__images {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		margin-right: -10px;
		height: 0;
		overflow: hidden;

		padding-bottom: calc( 1.26 * (100% - 30px) + 60px);
		@media (min-width: 430px) {padding-bottom: calc( 0.94 * (100% - 40px) + 60px);}
		@media (min-width: 540px) {padding-bottom: calc( 0.75 * (100% - 50px) + 60px);}
		@media (min-width: 650px) {padding-bottom: calc( 0.62 * (100% - 60px) + 60px);}
		@media (min-width: 760px) {padding-bottom: calc( 0.53 * (100% - 70px) + 60px);}
		@media (min-width: 870px) {padding-bottom: 48.3%}

		> a {
			display: block;
			margin: 10px 10px 0 0;
			flex: 1 0 100px;
			max-width: 140px;
			min-width: calc( 12.5% - 10px);

			> img {
				width: 100%;
			}
		}
	}

	.gallery__overlay {
		position: absolute;
		top: calc( 25% + 7.5px);
		left: calc( 33% + 5px );
		right: 0;
		height: calc( 50% - 15px );
		background-color: rgba(white, .9);

		@media (min-width: 430px) {
			left: calc( 25% + 2.5px );
		}

		@media (min-width: 540px) {
			left: calc( 20% + 2px );
			right: calc( 20% + 2px );
		}

		@media (min-width: 650px) {
			left: calc( 16.66% + 1.66px );
			right: calc( 33.33% + 3.33px );
		}

		@media (min-width: 760px) {
			left: calc( 14.29% + 1.43px );
			right: calc( 42.86% + 4.29px );
		}

		@media (min-width: 870px) {
			left: calc( 12.5% + 1.25px );
			right: calc( 50% + 5px );
		}

		> h2 {
			margin: 8px 12px;
			font-family: "Montserrat";
			font-size: 9vw;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: .6px;
			line-height: 1.06;
			color: black;
			text-indent: -.2em;

			@media (min-width: 430px) {
				font-size: 7.5vw;
			}

			@media (min-width: 540px) {
				font-size: 6vw;
			}

			@media (min-width: 650px) {
				font-size: 5vw;
			}

			@media (min-width: 760px) {
				font-size: 4.3vw;
			}

			@media (min-width: 870px) {
				font-size: 3.8vw;
			}

			@media (min-width: 1440px) {
				font-size: 46px;
			}

			> strong {
				font-weight: 800;
			}
		}

		> h3 {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			margin: 0;
			padding: 12px;
			font-weight: 500;
			text-transform: uppercase;
			font-size: 5.8vw;
			color: #666;
			letter-spacing: -.04em;

			@media (min-width: 430px) {
				font-size: 4.9vw;
			}

			@media (min-width: 540px) {
				font-size: 3.1vw;
			}

			@media (min-width: 650px) {
				font-size: 2.6vw;
			}

			@media (min-width: 760px) {
				font-size: 2.2vw;
			}

			@media (min-width: 870px) {
				font-size: 1.9vw;
			}

			@media (min-width: 1440px) {
				font-size: 26px;
			}
		}
	}

.final-cta {
	padding: 80px 0;
	text-align: center;
}

.marketing-page footer {
	@extend .dark-bg;

	padding: 14px 0 10px;
	text-align: center;
	background-color: black;

}

	.footer__byline {
		font-size: 15px;
		font-weight: 400;

		> span {
			display: block;
			font-weight: 600;
		}
	}

	.footer__copyright {
		padding: 0 30px;
		font-size: 14px;
		opacity: .5;

		> a {
			@extend .unstyled-link;

			color: white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

.modal {
	.form-control {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 15px;
		}
	}

	p.note {
		margin: 10px 0 12px;
		color: #444;
	}
}



/*****************************************
			  APP STYLING
*****************************************/

section.splash {
	position: relative;
	padding: $mobile-padding;
}

	// .splash__banner {}

		.banner {
			@extend .dark-bg;

			display: block;
			padding: 5px;
			text-align: center;
			text-decoration: none;
			background-color: gray;

			a {
				color: inherit;
			}

			span {
				text-decoration: underline;
			}
		}

			.banner--splash {
				margin: -5px -5px 5px;
			}

			.banner--upgrade {
				background-color: $green;
			}

			.banner--error {
				background-color: $red;
			}

		.pro-catcher {
			flex-basis: 100%;
			margin: 5px 0 0;
			text-align: center;
			font-size: 15px;
			opacity: .8;

			@media ($mobile-flipped) {
				flex-basis: auto;
			}

			@media ($tablet) {
				text-align: right;
				background-color: white;
			}

			> a {
				display: inline-block;
				padding-top: 5px;
			}
		}

		.splash__settings-icon {
			float: right;
		}

	.splash__title {
		$larger-splash-title: "min-width: 500px";

		@include ir;

		margin-bottom: 40px;
		padding-bottom: 38%;
		width: 100%;
		height: 0;
		background: url(../images/hurleyisms-sm-basic.png) no-repeat;
		background-size: contain;
		background-position: center center;

		.is-logged-in & {background-image: url(../images/hurleyisms-sm-pro.png);}

		@media ($short-mobile) {
			margin-bottom: 50px;
		}

		@media ($larger-splash-title) {
			margin: 0 auto;
			max-width: 600px;
			width: auto;
			padding-bottom: 19.7%;
			background-image: url(../images/hurleyisms-basic.png);

			.is-logged-in & {background-image: url(../images/hurleyisms-pro.png);}
		}

		@media (min-width: 600px) {
			height: 127px;
			padding-bottom: 0;
		}

		@media ($mobile-flipped) {
			margin-bottom: 0;
			padding-bottom: 13.2%;
			background-image: url(../images/hurleyisms-basic.png);

			.is-logged-in & {background-image: url(../images/hurleyisms-pro.png);}
		}

		@media ($tablet) {
			margin: 15vh auto 7vh;
		}
	}

	.splash__start-for {
		margin-bottom: 28px;
		font-size: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
		opacity: .5;
		text-align: center;
	}

	.mode-selector {
		@extend .semantic-ul;

		justify-content: center;

		> li {
			flex-shrink: 1;

			> a {
				margin: 5px;
				text-decoration: none;

				&:hover > img {
					outline: 2px solid $blue;
					-webkit-filter: brightness(1.1);
				}

				> img {
					margin-bottom: 5px;
					width: 100%;
					transition: .1s ease all;
				}

				> p {
					color: black;
					text-align: center;
					text-transform: uppercase;
					font-size: 18px;
				}
			}
		}
	}

	.splash__footer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		position: absolute;
		bottom: 2*$mobile-padding;
		right: 2*$mobile-padding;
		left: 2*$mobile-padding;

		@media ($mobile) {
			.is-logged-in & .switch-wrapper {
				display: block;
				margin-bottom: 40px;
				flex-basis: 100%;
				text-align: center;
			}

			.btn {
				padding: 11px;

				@media ($mobile-flipped) {
					order: 2;
				}
			}
		}

		@media ($mobile-flipped) {
			position: static;
		}

		.btn {
			position: relative;
			top: -2px;

			img {
				position: relative;
				top: -2px;
			}
		}

		@media ($tablet) {
			bottom: $tablet-padding;
			right: $tablet-padding;
			left: $tablet-padding;
		}
	}

// section.submit {}

	.line-added {
		@extend .horizontally-center;

		display: fixed;
		top: 5px;
		width: 120px;
		height: 40px;
		line-height: 42px;
		text-align: center;
		color: white;
		background: $blue;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(black, .5);
		opacity: 0;
		z-index: 2;

		&.fade-in {
			animation: fade-in-out 4s;
		}

		@keyframes fade-in-out {
			0%, 100% {
				top: -100%;
				opacity: 0;
			}
			20%, 80% {
				top: 5px;
				opacity: 1;
			}
		}
	}

	.submit__header {
		position: relative;
		padding: $mobile-padding;
		height: 54px;
		border-bottom: 2px solid rgba(black, .1);

		.close {
			position: relative;
			left: -1*$mobile-padding;
			float: left;
		}

		> h1 {
			@extend .center;

			position: absolute;
			padding-top: 3px;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: .3px;
		}

		> :last-child {
			float: right;
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	.blue-box {
		@extend .dark-bg;

		background-color: $blue;

		h2 {
			margin-bottom: 5px;
			font-size: 18px;
		}

		ul {
			margin: 10px 0;
		}
	}

	.submit__container {
		margin: 0 auto;
		max-width: 400px;
		padding: 15px;

		.checkbox-list {
			@extend .semantic-ul;

			margin: 0 -4px;

			> li {
				margin: 0 4px;
				flex-basis: 33%;
			}
		}

		> .btn--green {
			display: block;
			text-align: center;
		}
	}

section.lines {
	position: relative;
}

	.lines__header {
		display: flex;
		justify-content: flex-end;

		@media ($tablet) {
			justify-content: space-between;
		}
	}

		.lines__header__title > p {
			margin: 0;
			text-transform: uppercase;
			font-size: 14px;
			text-align: center;
			opacity: .5;
		}

		.lines__header__dummy {
			width: 40px;
			height: 40px;
		}

	#lines {
		margin: -15px auto 86px;
		max-width: 800px;
		padding: 0 15px;

		@media ($tablet) {
			margin-top: 0;
			margin-bottom: 0;
			padding: 15px;
		}
	}

		.line {
			margin-bottom: 20px;
			transition: all 0.4s ease 2s;
			transform: scale(1);

			@media ($tablet) {
				padding: 13px 20px 10px;
				border-radius: 2px;
				box-shadow: 0 1px 4px rgba(black, .4);
			}
		}

			.line--deleting {
				transform: scale(0);
				// height: 0;
			}

			.line__text {
				margin-bottom: 15px;
				font-size: 35px;
				font-weight: 300;
				line-height: 1.2;
			}

				html.no-touch body.is-admin .line__text:hover {
					background-color: #F3F3F3;
					cursor: pointer;
				}

			.line__textarea {
				margin-top: -1px;
				margin-left: -7px;
				margin-bottom: 15px;
				width: 100%;
				font-size: 35px;
				font-weight: 300;
				line-height: 1.2;
			}

			.line__footer {
				display: flex;
				justify-content: space-between;
			}

			.line__byline {
				align-self: center;
				margin: 0;
				font-size: 20px;
				opacity: .4;
			}

			.line__action-buttons {
				display: flex;
				align-items: center;
			}

				.line__text + .line__footer .if-editing {
					display: none;
				}

				.line__cancel-change {
					margin-right: 20px;
				}

				.line__square-btn {
					@include ir;

					width: 44px;
					height: 44px;
					padding: 6px;
					background-color: white;
					text-align: center;
					background-repeat: no-repeat;
					background-position: center center;
					border: 2px solid rgba(black, .1);

					&:hover {
						background-color: rgba(black, .05);
					}
				}

				.line__delete {
					background-image: url(../images/trash-can.png);
				}

					.line__textarea + .line__footer .line__delete {
						display: none;
					}

				.line__thumbs-up {
					display: none;
					background-image: url(../images/thumbs-up.png);

					&.active {
						border: none;
						background-image: url(../images/thumbs-up-white.png);
						background-color: $green;
					}
				}

				.line__thumbs-down {
					display: none;
					background-image: url(../images/thumbs-down.png);

					&.active {
						border: none;
						background-image: url(../images/thumbs-down-white.png);
						background-color: $red;
					}
				}

	.lines__footer {
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 10px;
		left: 0;
		right: 0;
		padding: 0 15px;
		height: 76px;
		background-color: rgba(white, .98);
	}

		.speed-slider {
			align-self: center;
			width: 100px;

			> p {
				margin-bottom: 0;
				font-size: 14px;
				letter-spacing: .4px;
				text-transform: uppercase;
				opacity: .4;
			}

			input[type=range] {
				width: 100%;
			}
		}

		.pause {
			@include ir;

			display: block;
			position: relative;
			width: 71px;
			height: 71px;
			border-radius: 50%;
			background: black url(../images/pause.png) no-repeat center center;

			&.is-paused {
				background-image: url(../images/play.png);
				background-position-x: 28px;
			}

		}

		.next {
			display: block;
			position: relative;
			width: 100px;
			height: 100%;

			> img {
				@include vertically-center;

				right: 0;
			}
		}

		@media ($tablet) {
			.lines__footer {
				height: 85px;
			}
			.speed-slider {
				width: 140px;
			}

			.prev,
			.next {
				display: block;
				position: relative;
				flex-grow: 1;
				width: auto;
				height: 100%;

				> img {
					@include vertically-center;
				}
			}

			.prev {
				pointer-events: none;

				> img {
					right: 15px;
					visibility: hidden;
				}
			}

			.next > img {
				left: 15px;
				right: auto;
			}

			.pause {
				width: 80px;
				height: 80px;

				&.is-paused {
					background-position-x: 32px;
				}
			}

			.speed-slider-dummy {
				width: 140px;
			}
		}

	#progress-bar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 10px;
		background-color: #ddd;
	}

		#progress-bar__fill {
			height: 100%;
			width: 0%;
			background-color: $gold;
		}



/*****************************************
		   UPSELL PAGE STYLING
*****************************************/

.upsell-header {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	max-height: 570px;
	background-color: black;

	@media ($tablet) {
		padding-bottom: 0;
		height: 570px;
	}

	@media ($desktop) {
		margin-bottom: 50px;
	}
}

	.upsell-header__gallery {
		display: none;
	}

	.upsell-header__banner {
		@include horizontally-and-vertically-center;

		margin: 0 auto;
		padding: 5px 0;
		width: 100%;
		max-width: 580px;
		background-color: rgba(white, .95);

		> img {
			width: 100%;
		}
	}

body.upsell h2 {
	@extend .h2--underlined;

	margin-top: 30px;
	text-align: center;
}

.youtube-video-wrapper {
	position: relative;
	margin: 30px 0;
	padding-bottom: 56.25%;
	width: 640px;
	max-width: 100%;

	@media ($desktop) {
		margin: 60px 0 75px;
	}

	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.feature-checklist {
	margin-top: 30px;
	margin-bottom: 30px;
	list-style-type: none;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.1;

	@media ($tablet) {
		margin-top: 60px;
		margin-bottom: 60px;
		font-size: 22px;
	}

	> li {
		position: relative;
		margin-bottom: 22px;

		&:before {
			content: url(../images/check.png);
			position: absolute;
			top: 2px;
			left: -34px;
		}
	}
}

.testimonials {
	margin-bottom: 30px;

	@media ($tablet) {
		margin-bottom: 70px;
	}
}

	.testimonial {
		@extend .media;

		margin: 0 auto 10px;
		padding: 10px;
		max-width: 820px;
		background-color: #EEE;

		@media ($tablet) {
			padding: 20px;
		}

		@media ($desktop) {
			margin-bottom: 20px;
		}

		> :first-child {
			margin-right: 20px;
			width: 30%;
			max-width: 128px;

			@media ($tablet) {
				margin-right: 40px;
			}

			@media ($desktop) {
				margin-right: 76px;
			}
		}
	}

		.testimonial__text {
			font-size: 16px;
			font-weight: 300;
			line-height: 1.4;

			@media ($tablet) {
				font-size: 19px;
			}

			@media ($desktop) {
				font-size: 22px;
			}
		}

		.testimonial__name,
		.testimonial__city {
			margin: 0;
			font-size: 13px;

			@media ($tablet) {
				font-size: 15px;
			}
		}

		.testimonial__name {
			position: relative;
			font-weight: 500;

			&:before {
				content: "–";
				position: absolute;
				right: calc(100% + 5px);
			}
		}

		.testimonial__city {
			opacity: .6;
			font-style: italic;
		}

.upsell-ctas {
	display: flex;
	margin: 0 auto 20px;
	width: 100%;
	max-width: 580px;

	@media ($tablet) {
		margin-bottom: 50px;
	}
}

	.upsell-cta {
		position: relative;
		flex: 50% 0 1;
		align-self: stretch;
		margin: 3px;
		padding-bottom: 60px;
		max-width: 50%;
		border-radius: 2px;
		text-align: center;
		box-shadow: 0 1px 6px rgba(black, .4);

		@media ($tablet) {
			margin: 10px;
			padding-bottom: 80px;
		}
	}

		.upsell-cta__title {
			margin: 14px 0 0;
			padding: 0 10px 18px;
			font-size: 17px;
			text-transform: uppercase;
			letter-spacing: .019em;
			border-bottom: 1px solid #D5D5D5;

			@media ($tablet) {
				font-size: 24px;
			}
		}

		.upsell-cta__price {
			margin: 20px 0 15px;
			font-size: 15px;
			letter-spacing: .017em;

			@media ($tablet) {
				margin: 35px 0;
				font-size: 24px;
			}
		}

		.upsell-cta__details {
			font-style: italic;
			font-size: 13px;
			letter-spacing: .012em;

			> img {
				position: relative;
				top: -2px;
				margin-right: 4px;
				width: 18px;

				@media ($tablet) {
					margin-right: 8px;
					top: -4px;
					width: auto;
				}
			}

			@media ($tablet) {
				font-size: 18px;
			}
		}

		.upsell-cta__btn {
			position: absolute;
			bottom: 20px;
			left: 20px;
			right: 20px;

			@media ($mobile) {
				left: 0;
				bottom: 0;
				width: 100%;
				height: 52px;
				padding-top: 15px;
				border-radius: 0 0 2px 2px;
				font-size: 16px;
				font-weight: bold;
			}
		}

		.upsell-cta__footnote {
			position: absolute;
			top: calc(100% + 5px);
			text-align: left;
			font-size: 14px;
			opacity: .5;
		}



/*****************************************
			 MY ACCOUNT PAGE
*****************************************/

.submit__header > :last-child {
	padding: 9px 5px;
}

.input-group .error {
	position: absolute;
	top: 100%;
	left: 0;
}

.show-password {
	display: block;
	padding-top: 8px;
}

.form-control--fake {
	@extend .form-control;

	> p {
		margin-bottom: 6px;
	}
}

.account-type-display {
	border-radius: 4px;
	padding: 14px 14px 12px;
	background-color: #E6E6E6;
}

	.account-type-display__type {
		margin: 0 0 9px;
		font-size: 23px;
		font-weight: 300;
	}

	.account-type-display__price,
	.account-type-display__started {
		margin: 0;
	}

	.account-type-display__switch {
		display: block;
		margin-top: 8px;
		font-size: 15px;
	}

.cancel-subscription-display {}

	.cancel-subscription-display__explanation {
		opacity: .5;
		font-size: 15px;
	}

	.cancel-subscription-display__cta {
		display: block;
		margin-top: 12px;
		font-size: 15px;
	}



/*****************************************
			   ADMIN PAGE
*****************************************/

#admin-table {
	border-collapse: collapse;

	th {
		text-align: left;
	}

	th,
	td {
		border: 1px solid #ddd;
	}

	.btn {
		padding: 5px 10px;
		height: 35px;
		letter-spacing: 0;
		opacity: .8;

		&:hover {
			opacity: 1;
		}

		&:first-child {
			background-color: $blue;

			&.active {
				background-color: $green;
				opacity: 1;
			}
		}

		&:last-child {
			background-color: $red;
		}
	}

	label {
		display: inline-block;
		height: 100%;
		width: 100%;
	}
}