<!DOCTYPE html >
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" > <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hurleyisms | Admin Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="stylesheets/normalize.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="stylesheet" href="stylesheets/styles.css">

        <!-- ICONS -->
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" sizes="32x32" />
        <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180.png" />

        <!-- FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

        <script src="javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="javascripts/vendor/jquery-1.11.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="javascripts/admin.js"></script>
    </head>
    <body ng-app="hurleyisms" >
        <h1><img src="images/hurleyisms-xsm.png" alt="Hurleyisms"></h1>
        <table id="admin-table" ng-controller="AdminController">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Line</th>
                    <th>Men?</th>
                    <th>Women?</th>
                    <th>Kids?</th>
                    <th>Couples?</th>
                    <th>Groups?</th>
                    <th>Profane?</th>
                    <th>Free?</th>
                    <th>Author</th>
                    <th>IP Address</th>
                    <th>Submitted</th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="l in Lines" ng-hide="l.approved">
                    <td><a href="#" class="btn" ng-click="Approve(l)">Approve</a>
                    <a href="#" class="btn" ng-click="Delete(l)">Delete</a></td>
                    <td >
                    <span ng-hide="l.edit" ng-click="l.edit = true">{{ l.line }}</span>
                    <input type="textbox" ng-show="l.edit" ng-model="l.line"/>
                    <a href="#" class="btn" ng-show="l.edit" ng-click="Update(l)">Save</a>
                    </td>
                    <td><label><input type="checkbox" ng-model="l.men" ng-change="Update(l)"></label></td>
                    <td><label><input type="checkbox" ng-model="l.women" ng-change="Update(l)"></label></td>
                    <td><label><input type="checkbox" ng-model="l.kids" ng-change="Update(l)"></label></td>
                    <td><label><input type="checkbox" ng-model="l.couples" ng-change="Update(l)"></label></td>
                    <td><label><input type="checkbox" ng-model="l.groups" ng-change="Update(l)"></label></td>
                    <td><label><input type="checkbox" ng-model="l.profanity" ng-change="Update(l)"></label></td>
                    <td><label><input type="checkbox" ng-model="l.free" ng-change="Update(l)"></label></td>
                    <td>{{ l.author }} <a href="#" class="ban-ip" ng-click="Ban(l)">ban</a></td>
                    <td>{{ l.ipaddress }} </td>
                    <td>{{ l.dateadded }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
